$font-freit: "freight-big-pro", serif;
$font-freit: "freight-big-pro-book", sans-serif;

// $theme-colors: (
//     "primary": #FF69B4
// );

$bgBlue:	        #bdd5cf;
$linkActve:         #cb935c;
$ttrHome: 	        #eebe78;
$ttrSection: 		#2c3c50;
$sttrSection: 		#ddac65;
$bgS2: 		        #1d252f;
$bgSlide:       	#857566;
$grisFooter:        #818181;
